.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    width: 100vw;
    margin: 20px 0;
  }

  .title {
    margin: 10px 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-transform: capitalize;
  font-size: 2rem;

  @media screen and (max-width: 800px) {
    // margin: 10px 0 0 20px;
    font-size: 1.5rem;
  }
}
p {
  text-transform: capitalize;
  font-size: 1rem;
  font-family: "Euclid";

  @media screen and (max-width: 800px) {
    margin: 0 0 0 20px;
    font-size: 1rem;
  }
}
