input[type="checkbox"] {
  display: none;
}

#active:checked ~ .wrapper {
  clip-path: circle(75%);
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
  background: #000;
  z-index: 1;
}

#active:checked ~ .menu-btn {
  background: #fff;
  color: #4158d0;
  position: fixed;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

.menu-btn {
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn {
  background: #fff;
  color: #4158d0;
}
#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}
