input[type="checkbox"] {
  display: none;
}

#active:checked ~ .wrapper {
  clip-path: circle(75%);
  /* background: linear-gradient(45deg, #ff80ab, #82b1ff); */
  background: #fff;
  z-index: 1;
  width: 100%;
}

#active:checked ~ .wrapper::after {
  display: none;
}

#active:checked ~ .menu-btn {
  background: #fff;
  color: #4158d0;
  position: fixed;
}

#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

.menu-btn {
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn {
  background: #fff;
  color: #4158d0;
}
#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}

:root {
  --blue: rgb(26, 57, 87);
  --white: rgb(236, 236, 236);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  /* --image: url("./assets/image/me.jpg"); */
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
  /* --image: url("./assets/image/logo2.png"); */
}