.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 40px 0 0 0;

  @media screen and (max-width: 800px) {
    width: 100vw;
  }

  .title {
    margin: 10px 0;
  }
}

h1 {
  text-transform: capitalize;
  font-size: 2rem;

  @media screen and (max-width: 800px) {
    margin: 0 0 0 20px;
    font-size: 1.5rem;
  }
}
p {
  text-transform: capitalize;
  font-size: 1rem;

  @media screen and (max-width: 800px) {
    margin: 0 0 0 20px;
    font-size: 1rem;
  }
}
