.directory-menu {
  background: #fafafa;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem 0 0 0;
  padding: 0 0 40px 0;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
.inner-row {
  display: flex;
  flex-direction: column;
}
.categories {
  background-color: transparent;
  background-image: linear-gradient(
    90deg,
    #a3d5e7 -3.59%,
    #9074ed 53.05%,
    #ea3c5c 106.26%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: capitalize;
  font-family: "syne";
  letter-spacing: 0;
  opacity: 0.1;
  text-transform: lowercase;
  font-size: 200px;
  padding: 0 10px;

  @media screen and (max-width: 800px) {
    width: 100%;
    font-size: 70px;
    text-align: center;
  }
}
.categories-title {
  font-family: "syne";
  text-align: left;
  margin: 0;
  font-size: 50px;
  padding: 0 20px;
  margin: -100px 0 0 0;

  @media screen and (max-width: 800px) {
    margin: -50px 0 0 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
}
.categories-details {
  font-family: "typo";
  text-align: left;
  text-transform: lowercase;
  letter-spacing: 2px;
  padding: 30px 20px;
  font-weight: 800;
  font-size: 16px;
  width: 524px;

  @media screen and (max-width: 800px) {
    width: 100%;
    text-align: center;
    margin: 20px auto 0 auto;
  }
}
