.checkout-page {
  width: 100%;
  height: 100%;
  // padding: 50px 150px;
  // background: #37353a;

  .gridThinghs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 50px 100px;

    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  }

  @media screen and (max-width: 800px) {
    width: 100vw;
    padding: 0 5px;
  }

  .header-block {
    text-transform: capitalize;
    width: 100%;
    font-weight: bold;

    @media screen and (max-width: 800px) {
      font-size: 0.8rem;
    }

    span {
      font-family: "archwaltz";
      letter-spacing: 2px;
      // font-weight: normal;
    }

    &:last-child {
      width: 100%;
    }
  }

  .paymentdiv {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-gap: 10px;
    padding: 50px 100px;

    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  }

  .payment {
    background: linear-gradient(45deg, #ff80ab, #82b1ff);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 30px;
    margin: 40px 0 0 0;
  } 

  .total {
    display: flex;
    flex-direction: column;
  }

  .total {
    margin-left: auto;
    color: #000;
    font-family: "Syne";
    font-weight: 800;
    font-size: 20px;
    margin: 5px 0;

    .total-span {
      text-transform: capitalize;
      font-size: 18px;
      color: #000;
      font-family: "Syne";
      font-weight: 800;
      font-size: 20px;
    }
  }

  button {
    margin: 10px 0 0 auto;
  }
}
