.footer {
  padding: 10px 20px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  background-color: #eceff1;
  width: 100%;

//   hr {
//     height: 1px;
//     border: none;
//     background-color: #eceff1;
//   }

  p {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.12rem;
    font-family: "syne";
    font-size: 14px;
    margin: 10px 0 0 0;
  }

  span {
    font-weight: bolder;
  }
}
