@font-face {
  font-family: "Euclid";
  src: local("Euclid"), url(./fonts/euclid/Euclid\ Circular\ A\ Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Syne';
  src: local('Syne'), url(./fonts/syne/Syne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Elipses';
  src: local('Elipses'), url(./fonts/ElipsesCaps.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: "Syne", "Euclid";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 800px) {
    padding: 0;
  }
}