@font-face {
  font-family: 'Syne';
  src: local('Syne'), url(./fonts/syne/Syne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'typo';
  src: local('typo'), url(./fonts/typo-grotesk-thin.otf) format('truetype');
}

body {
  margin: 0;
  font-family: "Syne", "typo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 800px) {
    padding: 0;
  }
}